%section#site-content.wrap
	%article
		%h1 Archive
		%ul#post-archive
			- @posts.each do |post|
				%li
					%time=show_post_date("%d/%m/%Y", post)
					%a{:href => "#{post[:slug]}" }= post[:title]
		
				