!!! 5
%html
	%head
		%title 
			=@title ||= "Frankly"
		%meta{ :charset => 'utf-8'}
		%link{ :href => '/images/favicon.png', :rel => 'icon', :type => 'image/png'}
		%link{ :href => '/css/site.css', :rel => 'stylesheet', :media => 'screen'}
		%script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js', :type => 'text/javascript'}
		%script{ :src => '/javascript/main.js', :type => 'text/javascript'}
	%body{:onload => 'prettyPrint()'}
		%a{:href => "https://github.com/ajclarkson/frankly"}
			%img.github-ribbon{:src => "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", :alt => "Fork me on GitHub"}
		%header#site-header.wrap.cf
			%section#branding
				%h1 
					%a{:href => '/'} Frankly
				%p.tagline Simple Web Publishing
			= render :partial => "shared/nav"
		= yield

		%footer.wrap
			%section#github-message
				%h2 Latest Commit
				%p=show_latest_commit
			%section#colophon
				%h2 Colophon
				%p
					This site is powered by
					%a{:href=> "/"} Frankly
					and hosted by
					%a{:href=>"http://heroku.com"} Heroku.
					Unless stated otherwise all content is copyright 
					%a{:href => "http://twitter.com/ajclarkson"}ajclarkson
					2013. Subscribe for 
					%a{:href => "/rss.xml"} updates.
		%script{ :src => '/javascript/google-code-prettify/prettify.js', :type => 'text/javascript'}