!!! 5
%html
	%head
		%title 
			=@title ||= "Frankly"
		%meta{ :charset => 'utf-8'}
		%link{ :href => '/images/favicon.png', :rel => 'icon', :type => 'image/png'}
		%link{ :href => '/css/site.css', :rel => 'stylesheet', :media => 'screen'}
	%body
	<a href="https://github.com/ajclarkson/frankly"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
	%header#site-header.wrap.cf
		%section#branding
			%h1 
				%a{:href => '/'} Frankly
			%p.tagline Simple Web Publishing
		= render :partial => "shared/nav"
	= yield

	%footer.wrap
		%p
			Powered by <a href="/">Frankly</a> :: &copy; 2013 <a href="http://twitter.com/ajclarkson">@ajclarkson</a>
