%section#site-content.wrap
	%article
		%header
			%h1= @post_title
			%time.small 
				On: 
				=show_post_date("%A %d, %Y")
				by 
				=@post_meta[:author]
		=@post_content
		%footer
			=show_post_navigation("← Older", "Newer →")
