/*
Theme: Frankly
Author: Adam Clarkson
Author URI: http://ajclarkson.co.uk
Description: The default theme for the Frankly CMS.
*/

/* Clearfix */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {font-family:Helvetica, sans-serif;color:#222;text-shadow:1px 1px 1px rgba(0,0,0,.10)}
h1 {margin: 0; font-size: 2.25em; line-height: 1.3333333333333333333333333333333em; margin-bottom: 0.6667em} /* 36px / 48px */ 
h2 {margin: 0; font-size: 1.5em; line-height: 1em; margin-bottom: 1em} /* 24px / 24px */
h3 {margin: 0; font-size: 1.3125em; line-height: 1.1428571428571428571428571428571em; margin-bottom: 1.1428571428571428571428571428571em} /* 21px / 24px */
h4 {margin: 0; font-size: 1.125em; line-height: 1.3333333333333333333333333333333em; margin-bottom: 1.3333333333333333333333333333333em} /* 18px / 24px */
p, ul, blockquote, pre, td, th, label {margin: 0; font-size: 1em; line-height: 1.5em; margin-bottom: 1.5em} /* 16px / 24px */
small, p.small {margin: 0; font-size: 0.875em; line-height: 1.7142857142857142857142857142857em; margin-bottom: 1.7142857142857142857142857142857em} /* 14px / 24px */

/* Shared Elements */

a:link, a:visited {
	color:#4388a8;
	text-decoration:none;
	transition: opacity .2s ease-in-out;
   	-moz-transition: opacity .2s ease-in-out;
   	-webkit-transition: opacity .2s ease-in-out;
}

a:hover, a:active {
	border-bottom:1px dotted #4388a8;
	padding-bottom:5px;
	color:#aaa;
}

.wrap {
	margin-right:auto;
	margin-left:auto;
	max-width:760px;
	padding:0 2em;
}
	@media screen and (max-width:600px){
		.wrap {
			padding:1em;
		}
	}

/* Page Structure */

html {
	font:125%/1.5 Georgia, serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

	@media screen and (max-width:720px){
		html {
			font-size:100%;
		}
	}


/* Site Header */

#site-header {
	margin:5em auto 2em;
}

	#branding {
		float:left;
	}

	@media screen and (max-width:550px){
		#site-header {
			margin-bottom:0em;
		}
		#branding{
			float:none;
			display:block;
			width:210px;
			margin:auto;
		}
	}

	#site-header h1 {
		margin-bottom:0;
		font-size: 3.75em; line-height: 1.2em; /* 60px / 72px */
		letter-spacing:-1px;
	}

	#site-header h1 a, #site-header h1 a:visited {
		color:black;
		text-decoration:none;
	}

	#site-header h1 a:hover, #site-header h1 a:active {
		border:none;
		color:#aaa;
	}

	#site-header .tagline {
		margin-top:-0.9em;
	}

	#site-header nav {
		float:right;
		color:#222222;
	}

		#site-header nav ul {
			list-style:none;
			margin:2em 2em 2em 0;
		}

		header nav li {
			display:inline;
		}

		nav li:after {
			content: '\00A0 \2022 \00A0';
		}
		
		nav li:last-child:after {
			content:'';
		}

		@media screen and (max-width:550px){
		#site-header nav {
			margin:0 auto;
			float:none;
			width:210px;
		}
			#site-header nav ul {
				text-align:center;
			}
	}

	.github-ribbon {
		position: absolute; 
		top: 0; 
		right: 0; 
		border: 0;
	}

/* Article */

article header {
	padding-bottom:1em;
	text-align:center;
	font-style:italic;
}
	article header h1 {
		margin-bottom:0em;
		padding-bottom:0em;
		font-family:Georgia, serif;
		font-weight:normal;
	}
	
	article header time {
		margin-top:0em;
		padding-top:0em;
		font-size:0.875em;
		color:#AAAAAA;
	}


h2 em {
	font-family:Georgia, serif;
	font-weight:normal;
	text-shadow:none;
}

#post-archive {
	margin:0em;
	list-style-type:none;
	text-align:center;
}

	#post-archive li {
		margin:1em;
		text-align:left;
	}
	#post-archive time {
		margin-right:1em;
		color:#AAAAAA;
	}


article footer {
	border:none;
}
	#previous-navigation {
		float:left;
	}
	
	#next-navigation {
		float:right;
	}

/* Site Footer */

footer {
	border-top:1px solid #CCCCCC;
	margin-top:5em;
	padding:2em 0em;
	width:100%;
	font-size: 0.75em; line-height: 1.7142857142857142857142857142857em;
	color:#AAAAAA;
}
	footer h2 {
		padding-top:2em;
		font-size:1.2em;
		text-shadow:none;
		font-style:normal;
		color:#AAAAAA;
	}

	footer #github-message {
		width:50%;
		float:left;
		font-style: italic;
	}

	footer #colophon {
		width:40%;
		float:right;
	}

/* Code */

.prettyprint {
	font-size: 1em;
	padding:.75em;
	display: block;
	background-color: rgba(0, 0, 0, 0.8);
	white-space: pre-wrap;
	color:#ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
	.prettyprint li {
  		line-height: 24px;
	}
	.prettyprint ol {
  		list-style-position: inside;
  		padding: 0 0 0 10px;
	}
	.linenumbers {
  		margin-left: 1em;
	}
	.pln {
  		color: #ccc;
	}
